@model IEnumerable<OS.Sys.Dominio.Entidades.Servico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome_ser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao_ser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria_ser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preco_ser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome_ser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao_ser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoria_ser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preco_ser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cod_ser }) |
            @Html.ActionLink("Details", "Details", new { id=item.cod_ser }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cod_ser })
        </td>
    </tr>
}

</table>
